/* 데스크탑 디바이스 */
body {
  font-size: 1.6em;
}
/* 컨테이너 */
.container {
  justify-content: center;
}
/* 컨텐츠의 정렬
1. justify-content: center
2. margin: 0 auto */

.appHeader, .appMain, .menu__list {
  width: 1000px;
}

.appNavigation, .appFooter{
  width: 100%;
}

/* 헤더 */
/* 
Flexbox Layout
.appHeader {
  display: flex;
  flex-flow: column wrap;
  height: 120px;
}
.brand {
  background-color: pink;
  min-height: 120px;
}

.memberOnly {
  background-color: lightgreen;
  min-height: 80px;
}

.searchForm {
background-color: tomato;
min-height: 40px;
} */

/* 
Grid Layout
.appHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}
.brand {
  background-color: pink;
  grid-area: 1 / 1 / 3 / 2;
}

.memberOnly {
  background-color: lightgreen;
  grid-area: 1 / 2 / 2 / 3;
}

.searchForm {
  background-color: tomato;
  grid-area: 2 / 2 / 3 / 3;
} */

/* 
boxmodel Layout
*/
.appHeader {
  position: relative;
  padding-bottom: 1em;
}

/* 로고 */
.brand {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -30px;
  margin-bottom: 0;
}

/* 검색 폼 */
.searchForm {
  text-align: right;
}

/* input과 button은 Inline 요소이기 때문에 부모의 text-aling 속성을 상속받아 정렬될수 있다 */
input[name="search"] {
  width: 450px;
}

/* 네비게이션 */
.menu {
  background-color: #988574;
}
/* 메인 메뉴 제어 버튼 */
.buttonBurger {
  display: none;
}
/* 메인 메뉴 */
.menu__list {
  margin: 0 auto;
  color: #fff;
  padding: 0.5em 0;
}
.menu__list::after {
  content: "";
  display: block;
  clear: both;
}
.menu__item {
  float: left;
  margin: 1em 20px 0 27px;
}

.menu__link {
  display: block;
  font-size: 1.1em;
  font-weight: 700;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}
.menu__subMenu {
  font-weight: 700;
}
.menu__subMenu li {
  margin: 1em 0;
}
/* 메인 콘텐츠 */
.appMain {
  justify-content: space-between;
  /* float 배치를 위한 예제 코드 display: block !important;
  width: 1020px;
  overflow: hidden; */
}

/* float 배치를 위한 예제 코드 .appMain > * {
  float: left;
  margin: 0 10px;
} */
.book {
  width: 320px;
}

.news {
  width: 660px;
}

.board {
  width: 320px;
}

.favorite {
  width: 220px;
  order: 1;
  /* float 배치를 위한 예제 코드 float: right; */
}

.twitter {
  width: 420px;
}
