/* 모바일 디바이스 */
body {
  font-size: 1.4rem;
}

.appHeader,
.appMain,
.appFooter {
  width: 100%;
}
/* 컨테이너 */
.container {
  position: relative;
}

/* 헤더 */
.appHeader {
  background-color: #38302e;
  color: #fff;
  /* 플렉스가 아닌 방식으로 레이아웃을 잡을 때
  position: relative; */
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 20px;
}

.brand, .memberOnly, .searchForm {
  width: 100%;
}

.brand, .memberOnly, .searchForm, .appMain, .appFooter {
  padding-left: 20px;
  padding-right: 20px;
}

/* 로고 */

/* 멤버 서비스 */
.memberOnly {
  order: -1;
  background-color: #988574;
  /* 플렉스가 아닌 방식으로 레이아웃을 잡을 때
  position: absolute; */
  /* left: 0;
  right: 0;
  top: 0;
  포지션이 static일 경우 음수 마진으로 레이아웃
  margin-left: -20px;
  margin-right: -20px; */
}

/* 검색폼 */
input[name="search"] {
  width: calc(100% - 45px);
}

.buttonSearch{ 
  width: 35px;
  height: 35px;
  font-size: 1.2rem;
  padding: 0;
  border: 0;
  background-color: transparent;
  position: relative;
  color: #fff;
  margin-left: auto;
}
.buttonSearch::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(./../images/btn_search.png);
  background-size: cover;
}

/* 네비게이션 */
.appNavigation {
  /* width: 70%; */
  /* transform: translateX(-100%); */
}

/* 메인 메뉴 제어버튼 */
.buttonBurger {
  position: absolute;
  top: 80px;
  right: 20px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}

.burgerBar {
  position: absolute;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 20%;
  transition: all 0.25s;
}

.positionTop {
  top: 0;
}

.positionMiddle {
  top: 50%;
  transform: translateY(-50%);
}

.positionBottom {
  top: 100%;
  transform: translateY(-100%);
  transform: rotateY(40px);
}

.menu--isAct .positionTop {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  /* rotate가 변경된 후 아래로 위치가 이동하는거라 원하는 이미지가 나오지 않음
  transform: rotate(45deg) translateY(-50%); */
}

.menu--isAct .positionMiddle {
  transform: translate(150%, -50%);
}

.menu--isAct .positionBottom {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  /* transform: rotate(-45deg) translateY(-50%); */
}

/* 메뉴 리스트 */
.menu__list {
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100vh;
  transform: translateX(-105%);
  transition: all ease-in-out 0.25s;
  padding: 20px;
}

.menu--isAct .menu__list {
  /* transform: translateX(0); or 아래와 같이*/
  transform: none;
  /* transition: all 1s; */
  /* 전환 효과는 두 상황일 때 주어야한다. menu__list에만 주는 경우, 나타날 때 애니메이션이 제대로 적용되지 않는다 */
}
.menu__item {
  margin-bottom: 0.5em;
}
.menu__link {
  display: inline-block;
  width: calc(100% - 2em);
  padding: 0.5em 0;
  font-size: 1.6rem;
  font-weight: 700;
}

.menu__subMenu {
  display: none;
  margin: 1em 0;
}

.menu__subMenu li {
  margin: 1em 0;
}

.menu__item--isAct .menu__subMenu {
  display: block !important;
}

/* 메인 콘텐츠 */
.book,
.news,
.board,
.favorite,
.twitter {
  width: 100%;
}
