/* 모바일 디바이스 */
body {
  font-size: 1.4rem;
}

.appHeader,
.appMain,
.appFooter {
  width: 100%;
}
/* 헤더 */
.appHeader {
  background-color: #38302e;
  color: #fff;
  /* 플렉스가 아닌 방식으로 레이아웃을 잡을 때
  position: relative; */
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 20px;
}

.brand, .memberOnly, .searchForm {
  width: 100%;
}

.brand, .memberOnly, .searchForm, .appMain, .appFooter {
  padding-left: 20px;
  padding-right: 20px;
}

/* 로고 */
.brand {

}

/* 멤버 서비스 */
.memberOnly {
  order: -1;
  background-color: #988574;
  /* 플렉스가 아닌 방식으로 레이아웃을 잡을 때
  position: absolute; */
  /* left: 0;
  right: 0;
  top: 0;
  포지션이 static일 경우 음수 마진으로 레이아웃
  margin-left: -20px;
  margin-right: -20px; */
}

/* 검색폼 */
.searchForm {

}

input[name="search"] {
  width: calc(100% - 45px);
}

.buttonSearch{ 
  width: 35px;
  height: 35px;
  font-size: 1.2rem;
  padding: 0;
  border: 0;
  background-color: transparent;
  position: relative;
  color: #fff;
  margin-left: auto;
}
.buttonSearch::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(./../images/btn_search.png);
  background-size: cover;
}


.appNavigation {
  width: 70%;
  /* transform: translateX(-100%); */
}

/* 메인 콘텐츠 */
.book,
.news,
.board,
.favorite,
.twitter {
  width: 100%;
}
